@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

h1{
    font-family: "Sacramento", Arial, Helvetica, sans-serif;
}
p {
    font-family: "Alice", Arial, Helvetica, sans-serif;
}