@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

h1{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: "Alice", serif;
}
