@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

h1{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: "Alice", serif;
}
nav {
    align-items: center;
}
main {
    background-color: #ffffff;
}
footer {
    background-color: #ffffff;
}
.materials {
    display: grid;
    grid-template-columns: 4;
    gap: 20px;
    text-align: center;
}
.blueYarn {
    grid-column: 1/2;
    border-radius: 10%;
    border: 5px solid#e196a2;
}
.pinkYarn {
    grid-column: 2/3;
    border: 5px solid#e196a2;
    border-radius: 10%;
}
.redBeeYarn {
    grid-column: 3;
    border: 5px solid#e196a2;
    border-radius: 10%;
}
.redHeartYarn {
    grid-column: 1/2;
    grid-row: 2;
    border: 5px solid#e196a2;
    border-radius: 10%;
}