@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

html, body {
    height: 100%;
    margin: 0;
}
h1{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
p {
    font-family: "Alice", serif;
}
/* header {
    height: 50px;
    text-align: center;
} */
#logo-id {
    width: 100px;
    height: 100px;
}
footer {
    display: grid;
    background-color: #30a2a2;
    width: 100%;
    align-self: bottom;
    align-items: center;
    margin: 0;
    grid-template-columns: 1fr repeat(3, 100px);
}
nav {
    display: flex;
}
nav a {
    background-color: #30a2a2;
    padding: 10px;
    margin: 10px;
    margin: 0 auto;
}
.materials {
    display: grid;
    grid-template-columns: 4;
    gap: 20px;
    text-align: center;
}
.blueYarn {
    grid-column: 1/2;
    border-radius: 10%;
    border: 5px solid#e196a2;
}
.pinkYarn {
    grid-column: 2/3;
    border: 5px solid#e196a2;
    border-radius: 10%;
}
.redBeeYarn {
    grid-column: 3;
    border: 5px solid#e196a2;
    border-radius: 10%;
}
.redHeartYarn {
    grid-column: 1/2;
    grid-row: 2;
    border: 5px solid#e196a2;
    border-radius: 10%;
}
.footer_img{
    width: 75px;
    height: 75px;
    align-items: right;
}
body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
    display: grid;
    grid-template-columns: 75px repeat(3, 2fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: 100px;
    flex-shrink: 1;
    text-align: center;
    align-items: center;
    background-color: #30a2a2;
}
#materials{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}
#patterns{
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: start;
}
.link1{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: inherit;
    text-decoration: none;
    transition: font-size 1s;
    margin-right: 50px;
}
.link1:hover{
    font-size: 35px
}
#home{
    grid-column: 3/4;
    grid-row: 1/2;
}
#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 75px;
    height: 75px;
    margin-left: 25px;
    border: 2px solid #f6f6f6;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex: 1;
    background-color: #ffffff;
}
p {
    max-width: 400px;
    border: 5px solid #f6f6f6;
    border-radius: 5px;
    background-color: #f6f6f6;
}
.box1{
    text-align: center;
    justify-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 50px;
}
.box2{
    text-align: center;
    justify-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 50px;
}
.box3{
    text-align: center;
    justify-items: center;
    grid-column: 1/3;
    grid-row: 2/3;
}
.main_img{
    width: 300px;
    height: 250px;
    border: 5px solid #f6f6f6;
    transition: transform 1s;
}
.main_img:hover{
    transform: scale(1.125);
}