@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

h1{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
p {
    font-family: "Alice", serif;
}
footer{
    display: grid;
    grid-template-columns: 1fr repeat(3, 100px);
}
.footer_img{
    width: 75px;
    height: 75px;
    align-items: right;
    border-radius: 50px;
}
body{
    
}
header{
    display: grid;
    grid-template-columns: 75px repeat(3, 2fr);
    grid-template-rows: 1fr;
    width: 99%;
    height: 100px;
    border: 5px solid black;
    flex-shrink: 1;
    text-align: center;
    align-items: center;
}
#materials{
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
#patterns{
    grid-column: 4/5;
    grid-row: 1/2;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
#home{
    grid-column: 3/4;
    grid-row: 1/2;
}
#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 75px;
    height: 75px;
}
